<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>Dear <span class="name"></span></p>
	<p> Thank you for ordering food from Rajmahal restaurant <br/></p>
	<p> Your order is <strong> confirmed </strong> and will be ready for <span class="delivery"></span> in due time </p>
	<p>Following is your order </p>
	<span class="orderItems"></span> <br/>
	<p>Your order total is:  <span class="total"></span> </p>
	<p style="text-align: left">Your contact details with us are: <br /><br />
	<span class="contact"></span>
	</p>

	<strong>Please verify your contact details and contact us ASAP if some changes in your contact details to serve you better.<br />
            you can contact us on 06765655675 </strong>
	<br>
	<p>
		Thank you, <br />
		Rajmahal restaurant Team.
		Phone: 0407867666.
		<a href="www.rajmahalonline.com.au" title="Rajmahal Restaurant">Rajmahal restaurant</a>
	</p>
</body>
</html>
