<div   id="page-content" data-ng-controller="MenuitemsController"  data-ng-init="find()" >
    <div id="thumbnail-slide">
        <div class="container">
            <div id="thumb-slide">
                <div id="thumb-slide-section" class="owl-carousel">
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/meat-fish.png" alt="meet-fish">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/milk.png" alt="milk">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/neggies.png" alt="viegene">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fruits.png" alt="fruits">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fastfood.png" alt="fast-foood">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/meat-fish.png" alt="meet-fish">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/milk.png" alt="milk">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/neggies.png" alt="viegene">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fruits.png" alt="fruits">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fastfood.png" alt="fast-foood">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/meat-fish.png" alt="meet-fish">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/milk.png" alt="milk">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/neggies.png" alt="viegene">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fruits.png" alt="fruits">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fastfood.png" alt="fast-foood">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/meat-fish.png" alt="meet-fish">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/milk.png" alt="milk">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/neggies.png" alt="viegene">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fruits.png" alt="fruits">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fastfood.png" alt="fast-foood">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/meat-fish.png" alt="meet-fish">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/milk.png" alt="milk">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/neggies.png" alt="viegene">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fruits.png" alt="fruits">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="modules/core/template/img/content/fastfood.png" alt="fast-foood">
                        </a>
                    </div>
                </div>
                <!-- end .thumb-slide-section -->
                <!-- end .thumb-slide-section -->
            </div>
            <!-- end #thumb-slide -->
        </div>
        <!-- end .container -->
    </div>
    <!-- end .thumbnail-slide -->

    <!-- start #main-wrapper -->
    <div class="mega-call-us">
        <div class="container">
            <div class="call-mega-us">
                <i class="fa fa-phone-square"></i>
                <p>Call Us: +1 123 4567</p>
            </div>

            <div class="open-now text-right" ng-show="isBuzTime()">
                <i class="fa fa-check-square"></i>
                <p>We are open now (5pm-10pm)</p>
            </div>
            <div class="open-now text-right" ng-show="!isBuzTime()">
                <i class="fa fa-check-square"></i>
                <p>We are close now (10pm-5pm)</p>
            </div>
        </div>
    </div>
    <!------------------------------------------------->
    <!------------------Top Tabs----------------------->
    <!------------------------------------------------->
    <div class="bg-menu" >
        <!-- This div is used to indicate the original position of the scrollable fixed div. -->
        <div class="scroller_anchor"></div>
    <div class="container">
        <div class="row mt30">

            <!-- This div is used to indicate the original position of the scrollable fixed div. -->
            <div class="scroller_anchor"></div>

            <!------------------------------------------------->
            <!------------------Top Tabs----------------------->
            <!------------------------------------------------->
            <div class="col-md-6 col-md-push-3">
                <ul class="nav nav-tabs"  role="tablist">
                    <li ng-class="active" ng-repeat="cat in categories| unique:'type' | orderBy:'order' "  role="tab" data-toggle="tab">
                        <a ng-href="" ng-click="linkTo('#{{cat.name}}')" >{{cat.type}}</a>
                    </li>
                </ul>

                <div class="view-style dsn">
                    <div class="list-grid-view">
                        <button class="thumb-view"><i class="fa fa-list"></i></button>
                        <button class="without-thumb"><i class="fa fa-align-justify"></i></button>
                        <button class="grid-view"><i class="fa fa-th-list"></i></button>
                    </div>
                    <!-- end .list-grid-view -->
                </div>
                <!-- end view-style -->

                <!----------------------------------------------------------->
                <!------------------------ Menu Items ------------------->
                <!----------------------------------------------------------->

                <div class="tab-content">
                    <div class="tab-pane fade in active" ng-repeat="menuItem in menuByCategoryItems | orderBy:'Order' " id="tab-1">
                        <div class="all-menu-details">
                            <h5 id="{{menuItem.Name}}">{{menuItem.Name}}</h5>
                            <div class="item-list right-checkout" ng-repeat="item in menuItem.Items">
                                <div class="list-image">
                                    <img ng-src="{{item.image}}" alt="">
                                </div>
                                <div class="all-details">
                                    <div class="visible-option">
                                        <div class="details">
                                            <p><strong><a href="dish.html">{{item.name}}</a>
                                            </strong></p>
                                            <ul class="share-this list-inline text-right">
                                                <li><a href="#">Share</a>
                                                    <ul class="list-inline">
                                                        <li><a href="#"><i class="fa fa-facebook-square"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-twitter-square"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="fa fa-pinterest-square"></i></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <p class="m-with-details"><strong>Description:</strong><br>{{item.description}}</p>
                                            <p class="for-list">{{item.description}}</p>
                                            <div class="pull-right">
                                            <span><strong>Spicy ?</strong></span>
                                                <input type="radio" id="spicy1" ng-modal="cartItems.spicy" value="mild"> <img  ng-src="modules/core/template/img/content/spicy-1.png" style="width:50% height:50%" alt="">
                                                <input type="radio" id="spicy1" ng-modal="cartItemsspicy" value="medium"><img ng-src="modules/core/template/img/content/spicy-2.png" alt="">
                                                <input type="radio" id="spicy" ng-modal="cartItemsspicy" value="hot"><img ng-src="modules/core/template/img/content/spicy-3.png" alt="">
                                            </div>

                                        </div>

                                        <div class="price-option fl">
                                            <h4>{{item.price|currency}}</h4>
                                            <button class="toggle">Option</button>
                                        </div>
                                        <!-- end .price-option-->
                                        <div class="qty-cart text-center clearfix">
                                            <h6>Qty</h6>
                                            <form class="">
                                                <input type="text" ng-model="qty" id="qty" name="qty" placeholder="1">
                                                <br>
                                                <button ng-click="addItem(item,qty,spicy)"><i class="fa fa-shopping-cart"></i>
                                                </button>
                                            </form>
                                        </div> <!-- end .qty-cart -->
                                    </div> <!-- end .visible-option -->

                                    <div class="dropdown-option clearfix">
                                        <div class="dropdown-details">
                                            <form class="default-form">
                                                <h5>Please Select Your Option</h5>
                                                <h6>Option</h6>
														<span class="radio-input">
															<input type="radio" id="rice-1" name="choose">
															<label for="rice-1">Rice</label>
														</span>

														<span class="radio-input">
															<input type="radio" id="noodles-1" name="choose">
															<label for="noodles-1">Noodles</label>
														</span>

														<span class="radio-input">
															<input type="radio" id="bread-1" name="choose">
															<label for="bread-1">Bread</label>
														</span>

                                                <h6>Extras</h6>
														<span class="checkbox-input">
															<input type="checkbox" id="shrimps-1">
															<label for="shrimps-1">Double Shrimps<i class="fa fa-plus price">$3.00</i>
                                                            </label>
														</span>

														<span class="checkbox-input">
															<input type="checkbox" id="extra-veggies-1">
															<label for="extra-veggies-1">Extra Veggies <i class="fa fa-plus price">$3.00</i>
                                                            </label>
														</span>

														<span class="checkbox-input">
															<input type="checkbox" id="additional-butter-1">
															<label for="additional-butter-1">Additional Butter <i class="fa fa-plus price">$3.00</i>
                                                            </label>
														</span>

                                                <h6>Additional Notes</h6>
                                                <textarea placeholder="Write here"></textarea>

                                                <a class="btn btn-default-red">Confirm</a>
                                                <a class="btn btn-default-black">Cancle</a>
                                            </form>
                                        </div>
                                        <!--end .dropdown-details-->
                                    </div>
                                    <!--end .dropdown-option-->
                                </div>
                                <!-- end .all-details -->
                            </div>
                            <!-- end .item-list -->
                        </div>
                        <!--end all-menu-details-->
                    </div > <!-- end .tab-pane -->

                </div> <!-- end .tab-content -->
            </div>
            <!--end main-grid layout-->

            <!------------------------------------------------->
            <!------------------Left Side-panel begin----------------------->
            <!------------------------------------------------->
            <div class="col-md-3 col-sm-12 col-xs-12 col-md-pull-6">
                <div class="side-panel scroller" style="width:265px;">
                    <form class="default-form">
                        <h6 class="toggle-main-title">Side Panel</h6>
                        <div class="sd-panel-heading">
                            <h5 class="toggle-title">My Check</h5>
                            <div class="slideToggle">
                                <ul class="list-unstyled">
                                    <li>
                                        <p>2x Shrimps
													<span class="icon-link"><i class="fa fa-pencil"></i><i class="fa fa-times"></i>
													</span>
                                        </p>

                                        <p class="price">$ 19.95</p>
                                    </li>
                                    <li>
                                        <p>1x Coca cola
													<span class="icon-link"><i class="fa fa-pencil"></i><i class="fa fa-times"></i>
													</span>
                                        </p>

                                        <p class="price">$ 1.95</p>
                                    </li>
                                    <li>
                                        <p>1x Sake
													<span class="icon-link"><i class="fa fa-pencil"></i><i class="fa fa-times"></i>
													</span>
                                        </p>

                                        <p class="price">$ 15.95</p>
                                    </li>

                                    <li>
                                        <!-- list for total price-->
                                        <p>Total</p>
                                        <p class="price-total">$ 35.95</p>
                                    </li>
                                </ul>

                                <div class="checkout">
                                    <a class="btn btn-default-red" href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
                                </div>
                            </div>
                            <!--end .slide-toggle -->
                        </div>
                        <!-- end .sd-side-panel class -->

                        <div class="search-keyword">
                            <input type="text" placeholder="Search by keyword">
                            <button type="submit" value=""><i class="fa fa-search"></i>
                            </button>
                        </div>
                        <!-- end .search-keyword -->
                        <div class="category">
                            <h5 class="">Category</h5>
                            <div class="toggle-content">
                                <h5 ng-repeat="cat in categories| unique:'name' | orderBy:'order' " class="toggle-title">
                                   <strong> <a ng-href="" ng-click="linkTo('#{{cat.name}}')" > {{cat.name}}</a></strong>
                                    <!-- href="" ng-click="linkTo('/#about')" -->
                                </h5>
                            </div>
                        </div>
                        <!--end .category-->
                        <div class="find-on-map">
                            <h5>Search by Region</h5>
                            <div class="banner-search">
                                <div class="banner-search-inner">
                                    <ul class="custom-list tab-content-list">
                                        <li class="tab-content active">
													<span class="select-box" title="Country">
														<select name="Country" data-placeholder="Country">
                                                            <option>Country</option>
                                                            <option value="USA">USA</option>
                                                            <option value="Uk">UK</option>
                                                            <option value="India">India</option>
                                                            <option value="Bangladesh">Bangladesh</option>
                                                            <option value="Portugal">Portugal</option>
                                                        </select>
													</span>
													<span class="select-box" title="Region">
														<select name="Region" data-placeholder="Region">
                                                            <option>Region</option>
                                                            <option value="USA">USA</option>
                                                            <option value="Uk">UK</option>
                                                            <option value="India">India</option>
                                                            <option value="Bangladesh">Bangladesh</option>
                                                            <option value="Portugal">Portugal</option>
                                                        </select>
													</span>
													<span class="select-box" title="ZIP Code">
														<select name="ZIP Code" data-placeholder="ZIP Code">
                                                            <option>ZIP Code</option>
                                                            <option value="USA">USA</option>
                                                            <option value="Uk">UK</option>
                                                            <option value="India">India</option>
                                                            <option value="Bangladesh">Bangladesh</option>
                                                            <option value="Portugal">Portugal</option>
                                                        </select>
													</span>
                                        </li>
                                    </ul>
                                    <div class="map-section">
                                        <div id="map_canvas"></div>
                                    </div>
                                    <!-- end .map-section -->
                                </div>
                                <!-- end .banner-search-inner -->
                            </div>
                            <!-- end .banner-search -->
                        </div>
                        <!-- end .find-on-map -->
                    </form>
                    <!-- end form -->
                </div>
                <!-- end side-panel -->
            </div>
            <!--end .col-md-3 -->
            <div class="col-md-3">
                <div class="my-check-right scroller" style="width:265px;">
                    <h5 class="toggle-title">My Check</h5>
                    <ul class="list-unstyled" ng-repeat="item in cart">
                        <li>
                            <p> {{item.Qty}}<strong>X</strong>{{item.name}}
											<span class="icon-link"><i class="fa fa-pencil"></i><i ng-click="removeItem(item)" class="fa fa-times"></i>
											</span>
                            </p>

                            <p class="price">{{item.price|currency}}</p>
                        </li>
                    </ul>

                    <div class="checkout">
                        <button class="btn btn-default-red"><i class="fa fa-shopping-cart"></i>"Checkout</button>
                    </div>

                </div>
                <!-- end .checkout class -->
            </div>
        </div>
        <!-- end .row -->
    </div>
    <!--end .container -->
    </div>
</div>
<script type="text/javascript" src="modules/core/template/js/scripts.js"></script>
