<div id="page-content" data-ng-controller="MenuController"  data-ng-init="find()" >

    <!-- start #main-wrapper -->
    <div class="bg-menu" >
        <!-- This div is used to indicate the original position of the scrollable fixed div. -->
        <div class="scroller_anchor"></div>
        <div class="container">
            <div class="row mt30">
                <div class="col-md-6 col-md-push-3">
                    <ul class="nav nav-tabs"  role="tablist">
                        <li ng-class="active" ng-repeat="cat in categories| unique:'type' | orderBy:'order' "  role="tab" data-toggle="tab">
                            <a ng-href="" ng-click="linkTo('#{{cat.name}}')" >{{cat.type}}</a>
                        </li>
                    </ul>

                    <div class="view-style dsn">
                        <div class="list-grid-view">
                            <button class="thumb-view"><i class="fa fa-list"></i></button>
                            <button class="without-thumb"><i class="fa fa-align-justify"></i></button>
                            <button class="grid-view"><i class="fa fa-th-list"></i></button>
                        </div>
                        <!-- end .list-grid-view -->
                    </div>
                    <!-- end view-style -->

                          <div class="tab-content">
                              <div ng-repeat="menuItem in menuByCategoryItems | orderBy:'Order' ">
                                  <div class="all-menu-details">
                                      <div  id="{{menuItem.Name}}"></div>
                                      <h5  style="background-color: #591300; color: #fff; padding: 10px 10px 10px">{{menuItem.Name}}</h5>
                                      <div class="item-list right-checkout" ng-repeat="item in menuItem.Items">
                                          <div class="list-image">
                                              <img ng-src="{{item.image}}" alt="">
                                          </div>
                                          <div class="all-details">
                                              <div class="visible-option">
                                                  <div class="details">
                                                      <p><strong>{{item.name}} <span ng-show="item.isSpicy"><img  ng-src="modules/core/template/img/content/mild.png" alt="spicy"> </span>
                                                      </strong></p>
                                                      <p class="m-with-details"><strong>Description:</strong><br>{{item.description}}</p>
                                                      <p class="for-list">{{item.description}}</p>
                                                      <div class="pull-right" style="right: 0;bottom: 0;" ng-show="item.spicy">
                                                          <span><strong>Spicy ?</strong></span>
                                                          <form name="spicyOptions{{$index}}">
                                                              <label ng-repeat="spice in spicyOption.options">
                                                                  <input type="radio"
                                                                         id="{{spice.id}}"
                                                                         name="spiceOptions"
                                                                         data-ng-model="$parent.selectedSpicy"
                                                                         value="{{spice.id}}"
                                                                          ng-click="getSelectedSpicy(spice.id)">
                                                                  <img  ng-src="{{spice.imgSrc}}" style="width:50% height:50%" alt="{{spice.text}}">
                                                              </label>
                                                          </form>
                                                      </div>


                                                  </div>

                                                  <div class="options" ng-show="item.menuOptions.length>0">

                                                      <form class="default-form">
                                                          <div class="general-info cart-qty">
                                                              <ul class="list-unstyled ">
                                                                  <li ng-repeat="optionItem in item.menuOptions  | orderBy: 'price'">
                                                                      <span class="result">
                                                                          <button class="btn btn-default-red" ng-click="addItem(0,item,optionItem)">
                                                                              <i class="fa fa-shopping-cart"></i><strong>{{optionItem.name}}&nbsp;&nbsp;&nbsp;{{optionItem.price| currency}}</strong>
                                                                          </button>
                                                                      </span>
                                                                  </li>
                                                                  </ul>
                                                          </div>
                                                      </form>
                                                  </div>

                                                  <div class="price-option fl" ng-show="!item.menuOptions.length>0">
                                                      <h4>{{item.price|currency}}</h4>
                                                  </div>
                                                  <!-- end .price-option-->
                                                  <div class="qty-cart text-center clearfix" ng-show="!item.menuOptions.length>0">
                                                      <h6>Qty</h6>
                                                      <form class="">
                                                          <input type="text" ng-model="qty" id="qty" name="qty" ng-value="1" />
                                                          <br>
                                                          <button ng-click="addItem(qty,item)"><i class="fa fa-shopping-cart"></i>
                                                          </button>
                                                      </form>
                                                  </div> <!-- end .qty-cart -->
                                              </div> <!-- end .visible-option -->

                                              <!--end .dropdown-option-->
                                          </div>
                                          <!-- end .all-details -->
                                      </div>
                                      <!-- end .item-list -->
                                  </div>
                                  <!--end all-menu-details-->

                              </div > <!-- end .tab-pane -->

                        </div>

                    <!--end main-grid layout-->
                </div>
                <!-- Side-panel begin -->
                <div class="col-md-3 col-sm-12 col-xs-12 col-md-pull-6">
                    <div class="side-panel scroller" style="width:265px;">
                        <form class="default-form">
                            <h6>Categories</h6>
                            <!-- end .sd-side-panel class -->
                            <div class="category">

                                <div class="toggle-content">
                                    <h5 ng-repeat="cat in categories| unique:'name' | orderBy:'order' " class="toggle-title">
                                        <strong> <a ng-href="" ng-click="linkTo('#{{cat.name}}')" > {{cat.name}}</a></strong>
                                        <!-- href="" ng-click="linkTo('/#about')" -->
                                    </h5>
                                </div>
                            </div>
                            <!--end .category-->
                            <div class="find-on-map">
                                <h5>Our Location</h5>
                                <div class="banner-search">
                                    <div class="banner-search-inner">
                                            <div class="map-section">
                                            <div id="map_canvas"></div>
                                        </div>
                                        <!-- end .map-section -->
                                    </div>
                                    <!-- end .banner-search-inner -->
                                </div>
                                <!-- end .banner-search -->
                            </div>
                            <!-- end .find-on-map -->
                        </form>
                        <!-- end form -->
                    </div>
                    <!-- end side-panel -->
                </div>
                <!--end .col-md-3 -->
                <div class="col-md-3">
                    <div class="my-check-right scroller" style="width:265px;">
                        <form name="cartForm" novalidate ng-submit="setUrl()">
                            <div class="toggle-content">
                            <h5 class="toggle-title title">

                                <label ng-repeat="delType in deliveryType.options">
                                    <input type="radio"
                                           id="{{delType.id}}"
                                           name="delTypeOptions"
                                           data-ng-model="$parent.selectedDeliveryType"
                                           value="{{delType.id}}"
                                           ng-click="changeDeliveryType(delType)">
                                    {{delType.type}} &nbsp;&nbsp;
                                </label>

                                </h5>
                                <div class="cartDeliveryType" ng-show="selectedDeliveryType==1">
                                    <strong class="title"> Deliver to:</strong><br />
                                    <select  id="selectDelivery-suburb" data-ng-model="selectedSuburb" name="suburbs" ng-change="updateCartWithSuburb()" required>
                                        <option value="">Select Suburb</option>
                                        <option ng-repeat="sub in suburbs.options" value="{{sub.suburb}}">{{sub.suburb}}</option>
                                    </select>
                                </div>

                                <div class="cartDeliveryType" >
                                    <strong class="title"> Requested for:</strong><br />
                                    <select  id="selectDelivery-time" data-ng-model="selectedDelTime" name="suburbs" ng-change="updateCartWithTime()" required>
                                        <option value="">Select Time</option>
                                        <option ng-repeat="deltime in deliveryTime" value="{{deltime.time}}">{{deltime.time}}</option>
                                    </select>
                                </div>
                            </div>
                            <p ng-hide="cart.items.length>0"><strong>Your cart is empty</strong> </p>
                            <ul class="list-unstyled">

                                <li ng-repeat="item in cart.items">
                                    <p style="line-height: 20px">
                                        <span style="position: absolute; left: 0;top: 10px;margin-left: 5px;  cursor: pointer;">
                                            <i class="fa fa-minus" ng-click="removeItem(item)"></i>
                                        </span>
                                        <span style="margin-left: 25px;display: block"> {{item.Qty}} <strong>x</strong> {{item.Name}}<br /> <span style="font-weight: bold;color: #e00000 " ng-hide="!item.Spicy"> {{item.Spicy + " spicy"}}</span></span>
                                        <span class="icon-link">
                                            <i class="fa fa-plus" ng-click="addItem(1,item)"></i>
                                        </span>
                                    </p>

                                    <p class="price" style="right: 0;position: absolute;">{{item.Total|currency}}</p>

                                </li>
                                <li>
                                    <!-- list for total price-->
                                    <p><strong>Sub Total</strong></p>
                                    <p class="price-total">{{subTotal|currency}}</p>
                                </li>
                                <!------------ Online Ordering Discount----------------->
                                <li ng-show="!isEighthOrder && authentication.user">

                                    <p style="line-height: 20px">
                                            <span style="margin-left: 25px;display: block">Discount 20% <br /> <span style="font-weight: bold;color: #e00000 "> Online Ordering</span></span>
                                    </p>
                                    <p class="price-total">({{discount|currency}})</p>
                                </li>
                                <li ng-show="!isEighthOrder && authentication.user">
                                    <!-- list for total price-->
                                    <p><strong>Sub Total after discount</strong></p>
                                    <p class="price-total">{{subTotalDiscount|currency}}</p>
                                </li>
                               <!----------------------------------------------------->

                                <!------------ First Online Order Discount----------------->

                                <li ng-show="isFirstOrder || !authentication.user">
                                    <!-- list for total price-->
                                    <p style="line-height: 20px">
                                        <span style="margin-left: 25px;display: block">Welcome Discount 20% <br /> <span style="font-weight: bold;color: #e00000 "> First Online Order</span></span>
                                    </p>
                                    <p class="price-total">({{firstOrderDiscount|currency}})</p>
                                </li>
                                <li ng-show="isFirstOrder">
                                    <!-- list for total price-->
                                    <p><strong>Sub Total after discount</strong></p>
                                    <p class="price-total">{{subTotalFirstOrderDiscount|currency}}</p>
                                </li>

                                <!----------------------------------------------------->

                                <!------------ Eighth Online Order Discount----------------->
                                <li ng-show="isEighthOrder">
                                    <!-- list for total price-->
                                    <p style="line-height: 20px">
                                        <span style="margin-left: 25px;display: block">Seventh Order Discount <br /> <span style="font-weight: bold;color: #e00000 ">(average of last six orders)</span></span>
                                    </p>
                                    <p class="price-total">({{eighthOrderDiscount|currency}})</p>
                                </li>
                                <li ng-show="isEighthOrder">
                                    <!-- list for total price-->
                                    <!-- list for total price-->
                                    <p><strong>Sub Total after discount</strong></p>
                                    <p class="price-total">{{subTotalEigthDiscount|currency}}</p>
                                </li>
                                <!----------------------------------------------------->

                                <!----------------- Delivery Fee----------------------->
                                <li>
                                        <p>Delivery fee</p>
                                        <p class="price-total">{{deliveryFee|currency}}</p>
                                </li>
                                <li>
                                    <!-- list for total price-->
                                    <p><strong>Total</strong></p>
                                    <p class="price-total">{{Total|currency}}</p>
                                </li>

                                <!----------------------------------------------------->

                            </ul>


                            <div class="error" ng-show="errMessage"><i class="fa fa-info-circle"></i>{{errMessage}}</div>
                            <div class="checkout">
                                <button type="submit" class="btn btn-default-red"><i class="fa fa-shopping-cart"></i>Checkout</button>
                            </div>

                        </form>
                    </div>
                    <!-- end .chekout class -->
                </div>
            </div>
            <!-- end .row -->
        </div>
    <!--end .container -->
    </div>
</div>


<script type="text/javascript" src="modules/core/template/js/scripts.js"></script>
