<style>
    ul.dropdown-menu li {
        cursor: pointer;
    }

    ul.dropdown-menu li span.red {
        color: red;
    }

    ul.dropdown-menu li span.green {
        color: green;
    }
</style>
<div  id="page-content"  class="container"    data-ng-controller="CartsController" data-ng-init="find()">
    <div class="row" style="padding-top: 50px;padding-bottom: 50px">


        <div class="col-xs-6">    DropDown :
            <dropdown-multi model="selectedUserIds"
                                  options="users"></dropdown-multi>

            <dropdown-multiselect pre-selected="member.roles" model="selected_items" options="roles"></dropdown-multiselect>

        </div>
        <div class="col-xs-6">
            <ul>
                <li data-ng-repeat="item in selectedUserIds">
                    {{ item }}
                </li>
            </ul>
        </div>
    </div>

   <!-- <div class="list-group">
        <select size="10" id="myselection" multiple ng-multiple="true" ng-model="selectedColors" ng-options="c.name+' ('+c.shade+')' for c in colors"></select>

        <button ng-click="doCustom()">Select Customization</button>

        <div>
            Selected Colors: {{selectedColors }}
        </div>
<hr />

        <select size="10" id="myselection1" multiple ng-multiple="true" ng-model="selectedColors1" ng-options="c.name+' ('+c.shade+')' for c in colors"></select>

        <button ng-click="doCustom()">Select Customization</button>

        <div>
            Selected Colors: {{selectedColors1 }}
        </div>


    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!carts.$resolved || carts.length">
    	No Carts yet, why don't you <a href="/#!/carts/create">create one</a>?
    </div>-->
</div>
