<style>
    ul.dropdown-menu li {
        cursor: pointer;
    }

    ul.dropdown-menu li span.red {
        color: red;
    }

    ul.dropdown-menu li span.green {
        color: green;
    }
</style>
<div  id="page-content"  data-ng-controller="CartsController">
    <div class="container">
    <div class="row" style="padding-top: 50px;padding-bottom: 50px; text-align: center">
        <div class="col-md-12">
            <h2>UnAuthorized access</h2>
            <h3>You are not authorized to view this page</h3>
            <a href="/" title="Home">Click here to return to home</a>
        </div>
    </div>
    </div>
</div>
